<header class="bg-black">
	<nav
		class="navbar navbar-expand-lg navbar-dark bg-transparent"
	>
		<div class="container-fluid">
			<a
				class="navbar-brand fw-bold ms-5"
				routerLink="/"
			>
				<img
					src="\assets\logo.svg"
					alt="Anywhere-logo"
				/>
				Anywhere App
			</a>
			<div class="me-5">

				<a
				routerLink="/cart"
				class="btn text-decoration-none bg-white mx-3 rounded-pill"
				>
				<i class="bi bi-cart"></i> {{ items }}
			</a>
			<button
			class="btn bg-white rounded-pill"
			*ngIf="isAuth"
			(click)="logout()"
			>
			Logout
		</button>
			<button
			class="btn bg-white rounded-pill"
			*ngIf="!isAuth"
			routerLink="/login"
			>
			Login
		</button>
	</div>
	</div>
	</nav>
</header>
