<div
	class="col-1 mx-auto"
	*ngIf="!products || isLoading"
>
	<app-loader />
</div>
<div *ngIf="products && products.length === 0">
	<p class="text-white display-5">
		No Products here.
	</p>
	<p class="text-white">
		Redirect to
		<a
			href="/products?page=1"
			class="text-decoration-none text-info"
			>page 1</a
		>
		?
	</p>
</div>
<div
	class="col-12 text-center"
	*ngIf="products || !isLoading"
>
	<div
		*ngFor="let product of products; index as i"
		class="col-5 d-inline-block mx-2 my-4"
	>
		<mat-card>
			<mat-card-header>
				<mat-card-title class="fw-bold">
					{{
						product.title | uppercase
					}}</mat-card-title
				></mat-card-header
			>
			<img
				mat-card-lg-image
				src="{{ product.image }}"
				class="mx-auto my-5"
			/>
			<mat-card-content>
				<p
					class="fw-semibold h2 d-inline float-start"
				>
					${{ product.price }}
				</p>
				<mat-card-actions
					class="d-inline float-end"
				>
					<button
						class="btn btn-primary rounded-pill fw-semibold"
						*ngIf="!product.isAdd"
						(click)="toggleCart(i)"
					>
						Add to Cart
					</button>
					<div *ngIf="product.isAdd">
						<button
							class="btn btn-danger"
							(click)="productCart(i, 'remove')"
						>
							-
						</button>
						<span class="mx-3">{{
							product.amount || 1
						}}</span>
						<button
							class="btn btn-success"
							(click)="productCart(i, 'add')"
						>
							+
						</button>
					</div>
				</mat-card-actions>
			</mat-card-content>
		</mat-card>
	</div>
</div>
<div
	class="col-12 justify-content-center d-flex"
	*ngIf="products"
>

<button
	class="btn text-white" *ngIf="pageId>1"
	(click)="page('prev')"
>
	<...Prev
</button>
<div *ngFor="let pages of pagesArray">
	
	<button
	class="btn text-white"
	(click)="numbPage(pages)"
	>
	{{ pages }}
</button>
</div>
<button
	class="btn text-white" *ngIf="pageId!=totalPages"
	(click)="page('next')"
>
	Next...>
</button>
</div>
